@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Nanum+Myeongjo&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Nanum+Myeongjo&family=Permanent+Marker&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
   
}
.contactForm h1{
    /* font-family: 'Fira Sans', sans-serif; */
    text-align: center;
    font-family: 'Source Code Pro', monospace;
   
}
.form{
    width: 275px;
    margin: 15px auto;
    font-family: 'Fira Sans', sans-serif;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    
}
.form-control, .form-select{
    width: 300px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
#select{
    font-family: cursive;

}
::placeholder{
    font-size: 15px;
    font-family: cursive;
}
.btn{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    background-color: blue;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.btn-container{
   padding-left: 8px;
}
    
   
.mb-3{
    margin: 5px;
}