@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Nanum+Myeongjo&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Nanum+Myeongjo&family=Permanent+Marker&family=Source+Code+Pro:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.sidebar{
    background-color: rgb(239, 234, 234);
    /* width: 15vw; */
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.4s ease-in;
    position: absolute;
    height: 100vh;
    
}
.sidebar nav{
   padding: 10px;

}
.sidebar nav  li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav  li a{
    text-decoration: none;
    color: rgb(8, 13, 14);
}

.sidebar nav  li a:hover{
    color: rgb(12, 102, 37);
    transition: all .4s linear;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
    padding:20px;
    
}

.container{
    display: flex;
    height: 100vh;
}

.infoContainer{
    /* background-color: rgb(17, 179, 244); */
    height: 70vh;
    width: 80vw;
    /* margin: 100px auto; */
    display: flex;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;

}

.hello{
    font-size: 3em;
}

.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    

}

.about{
    font-size: 3em;
}
.buttons{
    margin-top: 2.5em;
    font-size: 8px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    background-color: black;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}

.buttons button:active{
    color: yellow;
    background-color: pink;
}

.devPic img{
    width: 270px;
    
}


@media (max-width:1615px) {
    *{
        /* background-color: rgb(225, 149, 149); */
    }

    .devInfo{
        font-size: 10px;
    }

    .intro, .blogContainer, .contactform{
        margin: 50px 8px;
    }
    

    .devPic{
        display: none;
    }

    .buttons{
        font-size: 6px;
    }
}



.hamburger{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}
.fa-xmark{
    margin-left: 105px;
}
.fa-bar{
    margin-top: 20px;
}

.sidebar-hide{
    transform: translate(-443px, 0px);
    position: absolute;
}

